

.videoplay {
        top: 20px;
        left: 20px;
        position: relative;
        width: 97%;
        height:95%;
        /*background-color: white;*/
        border-top: 3px solid #3c3f41;

    }
 .videoplay li {
        width: 100%;
        height: 5%;
        margin-top: 2.5%;
        text-align: center;
        font-size: 24px;
        color: #0c0c0c;
    }

     .play {
        position: relative;
        width: 100%;
        height: 85%;
        top: 2%;
        left: 0.5%;
        float: left;
        margin: 0 auto;
         text-align: center;
        /*background-color: black;*/
    }

     .video-js {
         position: relative;
         text-align: center;
     }
     .play .video_info {
         position: relative;
         text-align: left;
         font-size: 14px;
         color: #000;
         width: 35%;
         height: 30%;
         left: 33%;
     }

