<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/images/aboutus_images/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/aboutus_images/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/aboutus_images/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/aboutus_images/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="/static/images/aboutus_images/ico/apple-touch-icon-57x57.png">

    <title>智能监控组 </title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/aboutus_css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/aboutus_css/animate.css" rel="stylesheet">
    <link href="/static/css/aboutus_css/plugins.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/aboutus_css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/css/aboutus_css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/aboutus_css/pe-icons.css" rel="stylesheet">

</head>

<body id="page-top" class="animated-navigation">


    <div class="master-wrapper">

{#        <div class="preloader">#}
{#            <div class="preloader-img">#}
{#            	<span class="loading-animation animate-flicker"><img src="/static/images/aboutus_images/loading.GIF" alt="loading" /></span>#}
{#            </div>#}
{#        </div>#}

        <!-- Navigation -->
{#整个悬窗#}
        <nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.2s">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
            {#VSST#}
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand smoothie" href="index.html">V<span class="theme-accent-color">S</span>ST</a>
                </div>
            {#悬窗左边几个社交app#}
                <div id="navbar-social">
                    <ul class="smoothie list-inline social-links">
                        <li>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-qq"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wechat"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-weibo"></i></a>
                        </li>
{#                        <li>#}
{#                            <a href="#"><i class="fa fa-behance"></i></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#"><i class="fa fa-linkedin"></i></a>#}
{#                        </li>#}
                    </ul>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            {#悬窗右上角下拉框内容#}
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">首页 <span class="pe-7s-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
{#                                <li><a href="index.html">Fullscreen Slider</a></li>#}
{#                                <li><a href="index-video.html">Fullscreen Video</a></li>#}
{#                                <li><a href="index-single-page.html">Single Page</a></li>#}
{#                                <li><a href="index-landing-page.html">Landing Page</a></li>#}
{#                                <li><a href="index-minimal.html">Minimal</a></li>#}
{#                                <li><a href="index-countdown.html">Coming Soon</a></li>#}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">研究方向 <span class="pe-7s-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="portfolio-grid.html">目标检测</a></li>
                                <li><a href="portfolio-masonry.html">目标跟踪</a></li>
                                <li><a href="single-portfolio.html">重识别</a></li>
                                <li><a href="single-portfolio-carousel.html">异常行为检测</a></li>
                                <li><a href="single-portfolio-video.html">人群密度估计</a></li>
                                <li><a href="single-portfolio-fullscreen.html">视频去雾</a></li>
{#                                <li><a href="single-portfolio-fullscreen-video.html">Project Fullscreen Video</a></li>#}
{#                                <li><a href="single-portfolio-image-list.html">Project Image List</a></li>#}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">成员介绍 <span class="pe-7s-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="blog.html">毕业成员</a></li>
                                <li><a href="single-post.html">本届成员</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">项目介绍 <span class="pe-7s-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="404.html">光启项目</a></li>
                                <li><a href="404.html">机场项目</a></li>
                            </ul>
                        </li>
{#                        <li class="dropdown">#}
{#                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">组内活动 <span class="pe-7s-angle-down"></span></a>#}
{#                            <ul class="dropdown-menu" role="menu">#}
{#                                <li><a href="404.html">1活动</a></li>#}
{#                                <li><a href="404.html">2活动</a></li>#}
{#                            </ul>#}
{#                        </li>#}
                        <li><a href="#search"><i class="pe-7s-search"></i></a></li>
                        <li id="menu-trigger-wrapper">
                            <div class="pull-right">
                                <button type="button" id="menu-toggle" class="tcon tcon-menu--xcross" aria-label="toggle menu">
                                  <span class="tcon-menu__lines" aria-hidden="true"></span>
                                  <span class="tcon-visuallyhidden">toggle menu</span>
                                </button>
                            </div>  
                        </li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->         

            </div>
            <!-- /.container-fluid -->
        </nav>

{#查找界面#}
        <div id="search-wrapper">
            <button type="button" class="close">×</button>
            <form>
                <input type="search" value="" placeholder="请输入关键词" />
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>

        <!-- Header -->
{#整个封面轮播效果#}
        <header id="headerwrap" class="backstretched fullheight">
            <div class="vertical-center">
                <div class="col-sm-1 pull-left text-center slider-control match-height">
                    <a href="#" class="prev-bs-slide vertical-center wow fadeInLeft" data-wow-delay="0.8s"><i class="fa fa-long-arrow-left"></i></a>
                </div>
                <div class="intro-text text-center smoothie col-sm-10 match-height">                    
                    <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.8s">智能<span class="theme-accent-color">监控</span>小组</div>
                </div>
                <div class="col-sm-1 pull-right text-center slider-control match-height">
                    <a href="#" class="next-bs-slide vertical-center wow fadeInRight" data-wow-delay="0.8s"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="header-scroll-wrapper">
                <a href="#welcome" class="mouse page-scroll wow fadeInDown" data-wow-delay="0.8s"><div class="wheel"></div></a>
            </div>
        </header>

{#小组介绍部分#}
        <section id="welcome" class="single-page-section">
            <div class="section-inner">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center mb100">                        
                            <h2 class="section-heading">欢迎来到<span class="theme-accent-color">智能监控组</span></h2>
                            <hr class="thin-hr">
                            <h3 class="section-subheading secondary-font">Welcome to VSST.</h3>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="container">

                        <div class="col-md-3">
                            <h2 class="mb50">小组介绍<span class="theme-accent-color"> </span></h2>
                            <p class="lead">智能监控组位于四川大学电子信息学院图像信息研究所614B，主要研究目标检测，目标跟踪，重识别，异常行为检测，人群密度估计和视频去雾几个方向。</p>
                            <p>The intelligent monitoring group is located in 614b, Institute of image information, College of electronic information, Sichuan University. We mainly studies target detection, target tracking, re recognition, abnormal behavior detection, population density estimation and video defogging.</p>
                            <p class="mt30"><a href="#contact" class="btn btn-primary btn-theme page-scroll">联系我们</a></p>
                        </div>

                        <div class="col-md-8 col-md-offset-1">
                            <div class="row">
                                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-camera"></i>
                                        <div class="content-area">
                                            <h3 class="title">目标检测</h3>
                                            <div class="content">目标检测也叫目标提取，是一种基于目标几何和统计特征的图像分割，它将目标的分割和识别合二为一，其准确性和实时性是整个系统的一项重要能力。尤其是在复杂场景中，需要对多个目标进行实时处理时，目标自动提取和识别就显得特别重要。</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-chat"></i>
                                        <div class="content-area">
                                            <h3 class="title">目标跟踪</h3>
                                            <div class="content">目标跟踪就是在连续的视频序列中，建立所要跟踪物体的位置关系，得到物体完整的运动轨迹。</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-film"></i>
                                        <div class="content-area">
                                            <h3 class="title">重识别</h3>
                                            <div class="content">行人重识别也称行人再识别，是利用计算机视觉技术判断图像或者视频序列中是否存在特定行人的技术。</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="icon-box-1 match-height mb30">
                                        <i class="fa-4x pe-7s-attention"></i>
                                        <div class="content-area">
                                            <h3 class="title">异常行为检测</h3>
                                            <div class="content">异常检测是指利用定量的方式来描述可接受的行为特征,以区分和正常行为相违背的、非正常的行为特征来检测入侵。</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="icon-box-1 match-height">
                                        <i class="fa-4x pe-7s-users"></i>
                                        <div class="content-area">
                                            <h3 class="title">人群密度估计</h3>
                                            <div class="content">人群密度估计是指识别图像中的人群密度。</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="icon-box-1 match-height">
                                        <i class="fa fa-4x fa-code-fork"></i>
                                        <div class="content-area">
                                            <h3 class="title">视频去雾</h3>
                                            <div class="content">视频去雾是通过一定技术处理，去除雾霾的干扰，恢复视频的细节信息，得到具有良好视觉效果的视频。</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

{#组员介绍#}
        <section id="the-team" class="silver-bg single-page-section">
            <div class="section-inner">
                 <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center mb100">
                            <h2 class="section-heading">我们的<span class="theme-accent-color">成员</span></h2>
                            <hr class="thin-hr">
                            <h3 class="section-subheading secondary-font">Our team.</h3>
                        </div>
                    </div>
                </div>
            {#成员照片#}
                <div class="wow fadeIn" data-wow-delay="0.2s">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="3" data-items-tablet="[768,2]" data-items-mobile="[479,1]">
                                    <li>
                                        <div class="row hover-item">
                                            <div class="col-xs-12">
                                                <img src="/static/images/aboutus_images/team/5.jpg" class="img-responsive smoothie" alt="">
                                            </div>
                                            <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                            <div class="col-xs-12 hover-item-caption smoothie">
                                                <div class="vertical-center">
                                                    <h3 class="smoothie"><a href="single-portfolio.html" title="view project">黄彬</a></h3>
                                                    <ul class="smoothie list-inline social-links wow fadeIn" data-wow-delay="0.2s">
                                                        <li>
                                                            <a href="#"><i class="fa fa-github"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-qq"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weixin"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weibo"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <span class="theme-accent-color-bg hover-bar"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row hover-item">
                                            <div class="col-xs-12">
                                                <img src="/static/images/aboutus_images/team/6.jpg" class="img-responsive smoothie" alt="">
                                            </div>
                                            <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                            <div class="col-xs-12 hover-item-caption smoothie">
                                                <div class="vertical-center">
                                                    <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Barry Scott</a></h3>
                                                    <ul class="smoothie list-inline social-links wow fadeIn" data-wow-delay="0.2s">
                                                        <li>
                                                            <a href="#"><i class="fa fa-github"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-qq"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weixin"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weibo"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span class="theme-accent-color-bg hover-bar"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row hover-item">
                                            <div class="col-xs-12">
                                                <img src="/static/images/aboutus_images/team/7.jpg" class="img-responsive smoothie" alt="">
                                            </div>
                                            <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                            <div class="col-xs-12 hover-item-caption smoothie">
                                                <div class="vertical-center">
                                                    <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Tom Smooth</a></h3>
                                                    <ul class="smoothie list-inline social-links wow fadeIn" data-wow-delay="0.2s">
                                                        <li>
                                                            <a href="#"><i class="fa fa-github"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-qq"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weixin"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weibo"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span class="theme-accent-color-bg hover-bar"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row hover-item">
                                            <div class="col-xs-12">
                                                <img src="/static/images/aboutus_images/team/8.jpg" class="img-responsive smoothie" alt="">
                                            </div>
                                            <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                            <div class="col-xs-12 hover-item-caption smoothie">
                                                <div class="vertical-center">
                                                    <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Harvey Wallace</a></h3>
                                                    <ul class="smoothie list-inline social-links wow fadeIn" data-wow-delay="0.2s">
                                                        <li>
                                                            <a href="#"><i class="fa fa-github"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-qq"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weixin"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weibo"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span class="theme-accent-color-bg hover-bar"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row hover-item">
                                            <div class="col-xs-12">
                                                <img src="/static/images/aboutus_images/team/9.jpg" class="img-responsive smoothie" alt="">
                                            </div>
                                            <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                            <div class="col-xs-12 hover-item-caption smoothie">
                                                <div class="vertical-center">
                                                    <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Harvey Wallace</a></h3>
                                                    <ul class="smoothie list-inline social-links wow fadeIn" data-wow-delay="0.2s">
                                                        <li>
                                                            <a href="#"><i class="fa-github"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-qq"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weixin"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weibo"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span class="theme-accent-color-bg hover-bar"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row hover-item">
                                            <div class="col-xs-12">
                                                <img src="/static/images/aboutus_images/team/10.jpg" class="img-responsive smoothie" alt="">
                                            </div>
                                            <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                            <div class="col-xs-12 hover-item-caption smoothie">
                                                <div class="vertical-center">
                                                    <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Harvey Wallace</a></h3>
                                                    <ul class="smoothie list-inline social-links wow fadeIn" data-wow-delay="0.2s">
                                                        <li>
                                                            <a href="#"><i class="fa-github"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-qq"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weixin"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weibo"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span class="theme-accent-color-bg hover-bar"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row hover-item">
                                            <div class="col-xs-12">
                                                <img src="/static/images/aboutus_images/team/11.jpg" class="img-responsive smoothie" alt="">
                                            </div>
                                            <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                            <div class="col-xs-12 hover-item-caption smoothie">
                                                <div class="vertical-center">
                                                    <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Harvey Wallace</a></h3>
                                                    <ul class="smoothie list-inline social-links wow fadeIn" data-wow-delay="0.2s">
                                                        <li>
                                                            <a href="#"><i class="fa-github"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-qq"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weixin"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-weibo"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span class="theme-accent-color-bg hover-bar"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{#我们的项目#}
        <section class="dark-wrapper">
            <div class="section-inner">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center mb100">                        
                            <h2 class="section-heading">我们的<span class="theme-accent-color">项目</span></h2>
                            <hr class="thin-hr">
                            <h3 class="section-subheading secondary-font">Our project.</h3>
                        </div>
                    </div>
                </div>

                <div class="wow fadeIn" data-wow-delay="0.2s">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-xs-12" role="tabpanel">
                                <div class="col-sm-12">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-justified icon-tabs" id="nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#dustin" aria-controls="dustin" role="tab" data-toggle="tab">
                                                <span class="fa-4x pe-7s-bell"></span>
                                                <span class="tabtitle heading-font">光启项目</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">
                                               <span class="fa-4x pe-7s-airplay"></span>
                                               <span class="tabtitle heading-font">机场项目</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#anna" aria-controls="anna" role="tab" data-toggle="tab">
                                                <span class="fa-4x pe-7s-plugin"></span>
                                                <span class="tabtitle heading-font">Building Blocks</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">
                                                <span class="fa-4x pe-7s-users"></span>
                                                <span class="tabtitle heading-font">Pure Satisfaction</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 mt60">
                                    <!-- Tab panes -->
                                    <div class="tab-content" id="tabs-collapse">            
                                        <div role="tabpanel" class="tab-pane fade in active" id="dustin">
                                            <div class="tab-inner pad-sides-60">                   
                                                <p class="lead mb30">光启项目介绍.</p>
                                                <a href="#" class="btn btn-primary btn-red page-scroll">Find out More</a>             
                                            </div>
                                        </div>
                                        
                                        <div role="tabpanel" class="tab-pane fade" id="daksh">
                                            <div class="tab-inner pad-sides-60">
                                                <p class="lead mb30">机场项目介绍.</p>
                                                <a href="#" class="btn btn-primary btn-red page-scroll">Find out More</a>      
                                            </div>
                                        </div>
                                        
                                        <div role="tabpanel" class="tab-pane fade" id="anna">
                                            <div class="tab-inner pad-sides-60">
                                                <p class="lead mb30">Is post each that just leaf no. He connection interested so we an sympathize advantages. To said is it shed want do. Occasional middletons everything so to. Have spot part for his quit may. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate.</p>
                                                <a href="#" class="btn btn-primary btn-red page-scroll">Find out More</a>    
                                            </div> 
                                        </div>
                                        
                                        <div role="tabpanel" class="tab-pane fade" id="wafer">
                                            <div class="tab-inner pad-sides-60">
                                                <p class="lead mb30">Is post each that just leaf no. He connection interested so we an sympathize advantages. To said is it shed want do. Occasional middletons everything so to. Have spot part for his quit may. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate.</p>
                                                <a href="#" class="btn btn-primary btn-red page-scroll">Find out More</a>     
                                            </div>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{#我们的活动#}
        <section id="the-blog" class="white-bg single-page-section">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center mb100">                        
                            <h2 class="section-heading">我们的<span class="theme-accent-color">活动</span></h2>
                            <hr class="thin-hr">
                            <h3 class="section-subheading secondary-font">Our activity.</h3>
                        </div>
                    </div>
                </div>

                <div class="overlay-layer mb30">
                    <div class="container">
                        <div class="row">
                            <ul class="owl-carousel-highlighted news-carousel fw-carousel list-unstyled" data-items="3" data-items-tablet="[768,2]"  data-items-mobile="[479,1]">
                                <li class="nopadding-lr hover-item">
                                    <img src="/static/images/aboutus_images/news/组会.jpg" class="img-responsive smoothie" alt="">
                                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                        <div class="vertical-center smoothie">
                                            <strong class="heading-font"><span class="theme-accent-color-bg">组会</span></strong>
                                            <h3><a href="single-post.html" title="view project">Team Meeting</a></h3>
                                        </div>
                                    </div>
                                    <div class="hover-item-caption smoothie">
                                        <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                        <span class="theme-accent-color-bg hover-bar"></span>
                                    </div>
                                </li>
                                <li class="nopadding-lr hover-item">
                                    <img src="/static/images/aboutus_images/news/答辩.jpg" class="img-responsive smoothie" alt="">
                                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                        <div class="vertical-center smoothie">
                                            <strong class="heading-font"><span class="theme-accent-color-bg">答辩</span></strong>
                                            <h3><a href="single-post.html" title="view project">Defense</a></h3>
                                        </div>
                                    </div>
                                    <div class="hover-item-caption smoothie">
                                        <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                        <span class="theme-accent-color-bg hover-bar"></span>
                                    </div>

                                </li>
                                <li class="nopadding-lr hover-item">
                                    <img src="/static/images/aboutus_images/news/聚餐.jpg" class="img-responsive smoothie" alt="">
                                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                        <div class="vertical-center smoothie">
                                            <strong class="heading-font"><span class="theme-accent-color-bg">聚餐</span></strong>
                                            <h3><a href="single-post.html" title="view project">Dinner Party</a></h3>
                                        </div>
                                    </div>
                                    <div class="hover-item-caption smoothie">
                                        <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                        <span class="theme-accent-color-bg hover-bar"></span>
                                    </div>

                                </li>
                                <li class="nopadding-lr hover-item">
                                    <img src="/static/images/aboutus_images/news/毕业.jpg" class="img-responsive smoothie" alt="">
                                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                        <div class="vertical-center smoothie">
                                            <strong class="heading-font"><span class="theme-accent-color-bg">毕业</span></strong>
                                            <h3><a href="single-post.html" title="view project">Graduation</a></h3>
                                        </div>
                                    </div>
                                    <div class="hover-item-caption smoothie">
                                        <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                        <span class="theme-accent-color-bg hover-bar"></span>
                                    </div>

                                </li>
                                <li class="nopadding-lr hover-item">
                                    <img src="/static/images/aboutus_images/news/球赛.jpg" class="img-responsive smoothie" alt="">
                                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                        <div class="vertical-center smoothie">
                                            <strong class="heading-font"><span class="theme-accent-color-bg">球赛</span></strong>
                                            <h3><a href="single-post.html" title="view project">Ball Game</a></h3>
                                        </div>
                                    </div>
                                    <div class="hover-item-caption smoothie">
                                        <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                        <span class="theme-accent-color-bg hover-bar"></span>
                                    </div>
                                </li>
                                <li class="nopadding-lr hover-item">
                                    <img src="/static/images/aboutus_images/news/8.jpg" class="img-responsive smoothie" alt="">
                                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                        <div class="vertical-center smoothie">
                                            <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                            <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                        </div>
                                    </div>
                                    <div class="hover-item-caption smoothie">
                                        <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                        <span class="theme-accent-color-bg hover-bar"></span>
                                    </div>

                                </li>
                                <li class="nopadding-lr hover-item">
                                    <img src="/static/images/aboutus_images/news/9.jpg" class="img-responsive smoothie" alt="">
                                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                        <div class="vertical-center smoothie">
                                            <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                            <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                        </div>
                                    </div>
                                    <div class="hover-item-caption smoothie">
                                        <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                        <span class="theme-accent-color-bg hover-bar"></span>
                                    </div>

                                </li>
                                <li class="nopadding-lr hover-item">
                                    <img src="/static/images/aboutus_images/news/10.jpg" class="img-responsive smoothie" alt="">
                                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                        <div class="vertical-center smoothie">
                                            <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                            <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                        </div>
                                    </div>
                                    <div class="hover-item-caption smoothie">
                                        <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                        <span class="theme-accent-color-bg hover-bar"></span>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 mb30 match-height">
                            <div class="hover-item">
                                <img src="/static/images/aboutus_images/news/组会.jpg" class="img-responsive smoothie" alt="">
                                <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                    <div class="vertical-center smoothie">
                                        <strong class="heading-font"><span class="theme-accent-color-bg">组会</span></strong>
                                        <h3><a href="single-post.html" title="view project">Team Meeting</a></h3>
                                    </div>
                                </div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                    <span class="theme-accent-color-bg hover-bar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb30 match-height">
                            <div class="hover-item">
                                <img src="/static/images/aboutus_images/news/答辩.jpg" class="img-responsive smoothie" alt="">
                                <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                    <div class="vertical-center smoothie">
                                        <strong class="heading-font"><span class="theme-accent-color-bg">答辩</span></strong>
                                        <h3><a href="single-post.html" title="view project">Defense</a></h3>
                                    </div>
                                </div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                    <span class="theme-accent-color-bg hover-bar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb30 match-height">
                            <div class="hover-item">
                                <img src="/static/images/aboutus_images/news/聚餐.jpg" class="img-responsive smoothie" alt="">
                                <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                    <div class="vertical-center smoothie">
                                        <strong class="heading-font"><span class="theme-accent-color-bg">聚餐</span></strong>
                                        <h3><a href="single-post.html" title="view project">Dinner Party</a></h3>
                                    </div>
                                </div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                    <span class="theme-accent-color-bg hover-bar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb30 match-height">
                            <div class="hover-item">
                                <img src="/static/images/aboutus_images/news/毕业.jpg" class="img-responsive smoothie" alt="">
                                <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                    <div class="vertical-center smoothie">
                                        <strong class="heading-font"><span class="theme-accent-color-bg">毕业</span></strong>
                                        <h3><a href="single-post.html" title="view project">Graduation</a></h3>
                                    </div>
                                </div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                    <span class="theme-accent-color-bg hover-bar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb30 match-height">
                            <div class="hover-item">
                                <img src="/static/images/aboutus_images/news/球赛.jpg" class="img-responsive smoothie" alt="">
                                <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                    <div class="vertical-center smoothie">
                                        <strong class="heading-font"><span class="theme-accent-color-bg">球赛</span></strong>
                                        <h3><a href="single-post.html" title="view project">Ball Game</a></h3>
                                    </div>
                                </div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                    <span class="theme-accent-color-bg hover-bar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb30 match-height">
                            <div class="hover-item">
                                <img src="/static/images/aboutus_images/news/5.jpg" class="img-responsive smoothie" alt="">
                                <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                    <div class="vertical-center smoothie">
                                        <strong class="heading-font"><span class="theme-accent-color-bg">郊游</span></strong>
                                        <h3><a href="single-post.html" title="view project">Outing</a></h3>
                                    </div>
                                </div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                    <span class="theme-accent-color-bg hover-bar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pad-top-bottom-50 text-center">
                        <a href="#" class="btn btn-primary btn-red page-scroll">查看所有照片</a>
                    </div>
                </div>

            </div>
        </section>

{#右边悬窗#}
        <div id="single-pager-navigation-wrapper"></div>

    </div>

    <script src="/static/javascript/aboutus_js/jquery.js"></script>
    <script src="/static/javascript/aboutus_js/bootstrap.min.js"></script>
    <script src="/static/javascript/aboutus_js/plugins.js"></script>
    
    <script src="/static/javascript/aboutus_js/init.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">

    </script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript">
    $(document).ready(function(){
       'use strict';
        jQuery('#headerwrap').backstretch([
          "/static/images/aboutus_images/bg/bg1.jpg",
          "/static/images/aboutus_images/bg/bg9.jpg",
          "/static/images/aboutus_images/bg/bg8.jpg"
        ], {duration: 8000, fade: 500});
    });
    </script>

</body>

</html>
