{% extends 'basic_templates/base.html' %}
{% load static %}
{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic_css/configuration.css' %}" />
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascript/configuration.js"></script>
    <script>
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })
    </script>
{% endblock linkscript %}


{% block base %}
    <div class="configuration">
        <li><b>基础设置</b></li>

        <div class="base_config">
            <div>
                <div class="set_up">
                    <label>视频容量</label>
                    <select id="video_capacity">
                        <option value="10">10 条</option>
                        <option value="20">20 条</option>
                        <option value="50">50 条</option>
                        <option value="100">100 条</option>
                    </select>
                </div>
                <div class="set_up">
                    <label>视频长度</label>
                    <select id="video_length">
                        <option value="1">1 分钟</option>
                        <option value="2">2 分钟</option>
                        <option value="5">5 分钟</option>
                        <option value="10">10 小时</option>
                    </select>
                </div>
                <div class="set_up">
                    <label>视频帧率</label>
                    <select id="video_fps">
                        <option value="20">20 fps</option>
                        <option value="30">30 fps</option>
{#                        <option value="50">50</option>#}
{#                        <option value="100">100</option>#}
                    </select>
                </div>
                <button id="upload">保存</button>
            </div>
        </div>

    </div>

{% endblock base %}