<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Signup</title>

        <!--Inter UI font-->
        <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

        <!--vendors styles-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap CSS / Color Scheme -->
        <link rel="stylesheet" href="/static/css/signup_css/default.css" id="theme-color">
        <link rel="stylesheet" href="/static/css/signup_css/bootstrap.min.css" id="theme-color">

        <meta charset="UTF-8">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type = "text/javascript"src="/static/javascript/signup/signup.js"></script>


        <meta name="description" content="Love profile card." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

    </head>

    <body class="demo-two">
{#        <video autoplay loop class="video-background" muted plays-inline>#}
{#            <source src="/static/css/signup_css/sea.mp4" type="video/mp4">#}
{#        </video>#}
        <div class="video-section">
            <div class="video-wrapper">
                <div class="video-container">
                    <video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; width: 2062px; height: auto;"><source src="/static/css/signup_css/sea.mp4" type="video/mp4"></video>
                </div>
            </div>
        </div>

        <!--hero section-->
        <section class="hero bg-indigo">
            <div class="container">
                <div class="row">
                    <div class="card border-none col-lg-6 col-md-8 col-sm-10 mx-auto bg-texture">
                        <div class="card-body text-white text-center py-4">
                            <h1 class="pt-4 text-white h2">用户注册<br/> </h1>

                                <form method="post" enctype="multipart/form-data" action="{% url "app:signup" %}" onsubmit="return check()" >

                                {% csrf_token %}
                                <div class="world">
                                    <label for="username_input" style="float:left"><span style="color:red ">*</span>用户名:</label>
                                    <input name = "username" type="tetx" class="form-control" id="username_input" placeholder="请输入用户名" required=""><br/>
                                </div>

                                <div class="world">
                                    <label for="email_input" style="float:left"><span style="color:red ">*</span>邮箱:</label>
                                    <input name = "email" type="tetx" class="form-control" id="email_input" placeholder="请输入邮箱" required=""><br/>
                                </div>

                                <div class="world">
                                    <label for="password_input" style="float:left"><span style="color:red ">*</span>密码:</label>
                                    <input name = "password" type="password" class="form-control" id="password_input" placeholder="请输入密码" required=""><br/>
                                </div>

                                <div class="world">
                                    <label for="password_confirm_input" style="float:left"><span style="color:red ">*</span>确认密码:</label>
                                    <input name = "password_confirm" type="password" class="form-control" id="password_confirm_input" placeholder="请确认密码" required=""><br/>
                                </div>

                                <div class="world">
                                    <label for="invite_code_input" style="float:left">邀请码:</label>
                                    <input name = "invite_code" type="text" class="form-control" id="invite_code_input" placeholder="管理员注册请输入邀请码">
                                </div>

                                <div class="world1" id="error_box"><br><p>{{ dst }}</p><br></div>

                                <div class="pt-3"><button type="submit" class = "btn btn-white-alt text-blue btn-lg"  onclick = "check()" >注册</button></div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>
</html>




