{% extends 'basic_templates/base.html' %}
{% load static %}
{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic_css/videosquare.css' %}" />
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
{% endblock linkscript %}


{% block base %}
     <!--<div class="search-box">-->
         <!--<div class="search">-->
             <!--<input type="text" placeholder="614B"/><button>搜索</button>-->
         <!--</div>-->
     <!--</div>-->
    <div class="videosquare">
        <li><b>视频广场</b></li>
        <div class="video-list">
             <ul>
                 <li>
                     <a href="{% url "app:videostreamplay" 0 %}">
                         <img id="video1" src="{% url "app:videoviewer" 0 0 %} "></img>
                         0号摄像头,测试
                     </a>
                 </li>
                 <li>
                     <a href="{% url "app:videostreamplay" 1 %}">
                         <img id="video2" src="{% url "app:videoviewer" 1 0 %} "></img>
                         1号摄像头
                     </a>
                 </li>
                 <li>
                     <a href="{% url "app:videostreamplay" 2 %}">
                         <img id="video3" src="{% url "app:videoviewer" 2 0 %} "></img>
                         2号摄像头
                     </a>
                 </li>


             </ul>
         </div>
    </div>

{% endblock base %}