{% extends 'basic_templates/base.html' %}

{% load static %}
{% block linkscript %}




    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type="text/javascript" src="/static/javascript/videolookback.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/basic_css/videolookback.css" />

    <script>
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })
    </script>

{% endblock linkscript %}


{% block base %}

    <div class="videolookback">
        <li><b>录像列表</b></li>

        <div class="search">
            <input type="date" value="2019-12-12" id="date"/>
            <input type="time" value="13:59" id="searchstarttime"/>
            <!--<input type="time" value="13:59:59" name="endtime"/>-->
            <!--<input type="submit" value="搜索">-->
            <button id ="queryvideo">查询</button>
        </div>

        <div class="topMenu">
            <ul>
                <table id ="mytable" style="width: 100% !important;">
                    <thead id="t_head" style="width: 100% !important;">
{#                    <tr>#}
{#                        <th>序号</th>#}
{#                        <th>摄像机</th>#}
{#                        <th>开始时间</th>#}
{#                        <th>结束时间</th>#}
{#                        <th>视频名称</th>#}
{#                        <th>视频操作</th>#}
{#                    </tr>#}
                    </thead>
                    <tbody id ="ttt">



                    </tbody>
                </table>
            </ul>
        </div>

    </div>

{% endblock base %}